<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>

    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
        <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        <a class="me-3 py-2 text-dark text-decoration-none" href="/">Home page</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="/courses">BISB courses</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="/faculty">Faculty</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="/read-feedback">Read feedback</a>
        <a class="btn btn-warning" href="/write-feedback">Leave a feedback</a>
      </nav>
    </div>

    {% block body %}{% endblock %}

    <footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a href="https://www.kimep.kz/en/" class="nav-link px-2 text-muted">KIMEP.</a></li>
      <li class="nav-item"><a href="https://www.kimep.kz/bang-college-of-business/en/" class="nav-link px-2 text-muted">Bang College of Business.</a></li>
      <li class="nav-item"><a href="https://www.kimep.kz/college-of-social-sciences/en/" class="nav-link px-2 text-muted">College of Social Science.</a></li>
      <li class="nav-item"><a href="https://www.kimep.kz/school-of-law/en/" class="nav-link px-2 text-muted">Law School.</a></li>
      <li class="nav-item"><a href="https://www.kimep.kz/college-humanities-education/en/" class="nav-link px-2 text-muted">College of Humanities and Education.</a></li>
    </ul>
    <p class="text-center text-muted">© 2022 KIMEP University.</p>
  </footer>
</body>
</html>