{% extends 'base.html' %}

{% block title %}
Faculty
{% endblock %}

{% block body %}

<div class="container">
    <h2>Meet our faculty:</h2><br>
    <div class="row">
        <div class="col-md-3">
          <div class="card shadow-sm">
              <img src="/static/images/U_B_150x150.jpg"><br>
              <div class="card-body">
              <h5 style="text-align: left">Uldana Baizyldaeva, PHD</h5>
              <p class="card-text">Assistant professor, Information Systems in Business.</p>
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">Details</button>
                  <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Email: bdana@kimep.kz</a></li>
                      <li><a class="dropdown-item" href="#">Office 2075</a></li>
                  </ul>
              </div>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card shadow-sm">
              <img src="/static/images/U_T_150x150.jpeg"><br>
              <div class="card-body">
              <h5 style="text-align: left">Umut Tosun, PHD</h5>
              <p class="card-text">Assistant professor, Information Systems in Business.</p>
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">Details</button>
                  <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Email: u.tosun@kimep.kz</a></li>
                  </ul>
              </div>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card shadow-sm">
              <img src="/static/images/O_V_150x150.jpg"><br>
              <div class="card-body">
              <h5 style="text-align: left">Oleg Vlasov, MBA</h5>
              <p class="card-text">Senior Lecturer, Information Systems in Business.</p>
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">Details</button>
                  <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Email: olegvl@kimep.kz</a></li>
                      <li><a class="dropdown-item" href="#">phone: (727) 270-44-40</a></li>
                      <li><a class="dropdown-item" href="#">office: 418/adm.</a></li>
                      <li><a class="dropdown-item" href="#">ext. 2064 050010, 2 Abai ave., Almaty, KIMEP University.</a></li>
                  </ul>
              </div>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card shadow-sm">
              <img src="/static/images/Y_K_150x150.jpg"><br>
              <div class="card-body">
              <h5 style="text-align: left">Yevgenia Kim, MBA</h5>
              <p class="card-text">Senior Lecturer, Information Systems in Business.</p>
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">Details</button>
                  <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Tel: 270-44-40 Ext: 2017</a></li>
                      <li><a class="dropdown-item" href="#">Office: 316 / Dostyk bld</a></li>
                      <li><a class="dropdown-item" href="#">Email: ydk@kimep.kz</a></li>
                  </ul>
              </div>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card shadow-sm">
              <img src="/static/images/Z_U_A_150x150.jpg"><br>
              <div class="card-body">
              <h5 style="text-align: left">Zafar Uddin Ahmed, PHD</h5>
              <p class="card-text">Professor of Marketing</p>
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">Details</button>
                  <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Office: 312/adm.</a></li>
                  </ul>
              </div>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </div>
         <div class="col-md-3">
          <div class="card shadow-sm">
              <img src="/static/images/S_D_150x150.jpg"><br>
              <div class="card-body">
              <h5 style="text-align: left">Saule Dyussembina, CMA</h5>
              <p class="card-text">Senior Lecturer in Accounting</p>
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">Details</button>
                  <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">MBA, MPHIL</a></li>
                      <li><a class="dropdown-item" href="#">Phone: 270-44-40</a></li>
                      <li><a class="dropdown-item" href="#">Office: 336/adm</a></li>
                  </ul>
              </div>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card shadow-sm">
              <img src="/static/images/S_K_200x200.jpg"><br>
              <div class="card-body">
              <h5 style="text-align: left">Suleimen Kaimov, PHD</h5>
              <p class="card-text">Adjunct Assistant Professor</p>
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">Details</button>
                  <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Office: 329/adm</a></li>
                  </ul>
              </div>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card shadow-sm">
              <img src="/static/images/D_A.jpg"><br>
              <div class="card-body">
              <h5 style="text-align: left">Dariya Ainekova, PHD</h5>
              <p class="card-text">Assistant Professor</p>
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">Details</button>
                  <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Office: 317/adm</a></li>
                  </ul>
              </div>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card shadow-sm">
              <img src="/static/images/Nad_Fid.jpg"><br>
              <div class="card-body">
              <h5 style="text-align: left">Nadezhda Fidirko, PHD, DBA</h5>
              <p class="card-text">Adjunct Assistant Professor</p>
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">Details</button>
                  <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Phone: 270-44-40, ext. 2268</a></li>
                      <li><a class="dropdown-item" href="#">Email: comcour@kimep.kz</a></li>
                      <li><a class="dropdown-item" href="#">Office: 425/adm</a></li>
                  </ul>
              </div>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card shadow-sm">
              <img src="/static/images/A_B_150x150.jpg" height="" width=""><br>
              <div class="card-body">
              <h5 style="text-align: left">Azhar Baisakalova, PHD, DBA</h5>
              <p class="card-text">Adjunct Assistant Professor</p>
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">Details</button>
                  <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Phone: 270-42-76</a></li>
                      <li><a class="dropdown-item" href="#">Office: 312/ac</a></li>
                  </ul>
              </div>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <svg class="bd-placeholder-img card-img-top" width="200%" height="259" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
               preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text
                  x="50%" y="50%" fill="#eceeef" dy=".3em"></text></svg>
          <div class="card shadow-sm">
              <div class="card-body">
              <h5 style="text-align: left">Lyudmila Bragina, MSCS</h5>
              <p class="card-text">Adjunct Assistant Professor</p>
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">Details</button>
                  <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Office: 425/adm</a></li>
                  </ul>
              </div>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <svg class="bd-placeholder-img card-img-top" width="200%" height="259" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
               preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text
                  x="50%" y="50%" fill="#eceeef" dy=".3em"></text></svg>
          <div class="card shadow-sm">
              <div class="card-body">
              <h5 style="text-align: left">Rimma Omarova, MSCS</h5>
              <p class="card-text">Adjunct Assistant Professor</p>
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">Details</button>
                  <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Office: 425/adm</a></li>
                  </ul>
              </div>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </div>
</div>

{% endblock %}