{% extends 'base.html' %}

{% block title %}
Faculty
{% endblock %}

{% block body %}

<div class="container">
<h2>Meet our faculty:</h2><br>
        <table class="table table-bordered table-hov">
            <thead>
            <tr>
                <th>Name:</th>
                <th>Degree:</th>
                <th>Position:</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Uldana Baizyldaeva</td>
                <td>PHD</td>
                <td>Assistant professor, Information Systems in Business</td>
            </tr>
            <tr>
                <td>Umut Tosun</td>
                <td>PHD</td>
                <td>Assistant professor, Information Systems in Business</td>
            </tr>
            <tr>
                <td>Oleg Vlasov</td>
                <td>MBA</td>
                <td>Senior Lecturer, Information Systems in Business</td>
            </tr>
            <tr>
                <td>Yevgenia Kim</td>
                <td>MBA</td>
                <td>Senior Lecturer, Information Systems in Business</td>
            </tr>
            </tbody>
        </table>
</div>

{% endblock %}