{% extends 'base.html' %}

{% block title %}
Main page
{% endblock %}

{% block body %}
<div class="container">
  <h2>Welcome to the site of BISB - Bachelor of Information Systems in Business!</h2><br>
    <p>The Bachelor of Information Systems in Business Program at KIMEP University is dedicated to train professionals who can successfully develop and manage
    information systems of organizations both in Kazakhstan and internationally. The program provides fundamental knowledge in the field of both information systems and
    business that will allow making stellar career in the area of IS in business organizations and consulting firms.</p><br>
  <h6>Information Systems in Business</h6>
    <p>Since the main purpose of any business organization is profit maximization, organization’s information systems must be developed in such a way that will assist an
     organization in achieving this goal. However, it is impossible to purchase one single system that can completely satisfy organization’s needs in information because
     of a vast variety of information types that underlie any organization. Business organization, especially large one, consists of several functional areas, such as
     human resources, accounting, finance, manufacturing, logistics, sales and marketing. It may also have several managerial levels: top managers, middle-level managers,
     and first-hand (lower-level) managers. Employees working in each of these functional areas and at different levels deal with different information and thus may have
     different needs in information systems. The role of IS specialists is to assist various other employees in fulfilling their duties. IS specialists help business
     organizations in successful integration of new knowledge in business and effective management of document streams.</p><br>
   <h6>What will you study in this program?</h6>
    <p>The Bachelor of Information Systems in Business program offers a comprehensive curriculum consisting of bachelor-level courses in all facets of information systems
        for business organizations. Students can tailor the program to fit specific career goals by selecting elective courses of their interest. The program covers the
        fundamentals of information systems (such as management information systems), as well as advanced courses in the area such as, for instance, enterprise resource
        planning systems and programming.</p><br>
    <h6>Duration</h6>
    <p>The Bachelor of Information Systems in Business program offers a comprehensive curriculum consisting of bachelor-level courses in all facets of information
        systems for business organizations. Students can tailor the program to fit specific career goals by selecting elective courses of their interest. The program
        covers the fundamentals of information systems (such as management information systems), as well as advanced courses in the area such as, for instance,
        enterprise resource planning systems and programming.</p><br>
    <center><img src="/static/images/kimep_logo.png"></center>
</div>




{% endblock %}