{% extends 'base.html' %}

{% block title %}
Feedback
{% endblock %}

{% block body %}
<div class="container">
    <h2>Read feedback.</h2><br>

    {% if articles|length > 0 %}
        {% for element in articles %}
        <div class="alert alert-info">
            <h3>{{ element.title }}</h3>
            <p>{{ element.introduction }}</p>
            <p>{{ element.main_text }}</p>
            <p><b>Date: {{ element.date.date() }}</b></p>
            <a href="/read-feedback/{{ element.id }}" class="btn btn-warning">More details</a>
        </div>
        {% endfor %}
    {% else %}
    <p>No one has written feedback yet, be the first one!</p>
    {% endif %}

</div>
{% endblock %}