{% extends 'base.html' %}

{% block title %}
Write feedback
{% endblock %}

{% block body %}
<div class="container">
    <h1>We're doing our best to provide our students impeccable and </h1><br>
    <form method="post">
        <input type="text" name="title" id="title" class="form-control" placeholder="Your name."><br>
        <textarea name="introduction" id="introduction" class="form-control" placeholder="Your email."></textarea><br>
        <textarea name="main_text" id="main_text" class="form-control" placeholder="Your feedback."></textarea><br>
        <input type="submit" class="btn btn-success" value="Send">
    </form>
</div>
{% endblock %}